@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* Corpo da página */
body {
    background-color: black;  /* Cor de fundo preta */
    color: white;  /* Cor do texto */
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: flex-start; /* Alinha ao topo da tela */
    position: relative;
    height: 100vh;  /* Garante que a tela ocupe toda a altura */
}

/* Container principal para alinhar main e membros de equipe */
.main-container {
    display: flex;
    flex-direction: row; /* Alinha os itens lado a lado */
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    padding: 20px;
}

/* Imagem principal */
.Drizzle {
    max-width: 311px;
    max-height: 177px;
    margin-bottom: 20px; /* Espaço abaixo da imagem */
}

/* Estilo do texto principal */
.sobre {
    font-size: 1.2em;
    line-height: 1.6em;
    margin: 20px;
    background-color: #1a1a1a;
    max-width: 70%;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
}

/* Título "Membros de Equipe" */
.equipe {
    font-size: 2em;
    margin-top: 40px;
    color: #ffffff;
}

/* Container para os cartões (membros) */
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    padding: 0px;
    justify-items: center; /* Centraliza os cartões dentro do grid */
    max-width: 1000px;
}

/* Cartão individual */
.card {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    width: 280px;
    color: white;
    
}

/* Cabeçalho do cartão */
.card-header {
    background-color: #272727;
    color: white;
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
}

/* Corpo do cartão */
.card-body {
    padding: 15px;
    font-size: 1em;
    text-align: center;
}

.card-body h5 {
    font-size: 1.1em;
    color: #ffffff; /* Cor dourada para o título */
}

.card-body p {
    font-family: "Playfair Display", serif;
    font-size: 0.9em;
    line-height: 1.4em;
}

/* Botão no corpo do cartão */
.card-body button {
    background-color: #00BFFF;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.card-body button:hover {
    background-color: #1E90FF;
}

/* Efeito da chuva */
.raindrop {
    position: absolute;
    background-color: rgb(218, 218, 218);  /* Cor das gotas */
    width: 5px;
    height: 15px;
    opacity: 0.6;
    animation: rise linear infinite;
}

.padd{
    padding: 5px;
}
@keyframes rise {
    0% {
        transform: translateY(-150vh); /* Começa um pouco acima da tela */
    }
    100% {
        transform: translateY(130vh); /* Vai até a parte inferior da tela */
    }
}
