@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=REM:ital,wght@0,100..900;1,100..900&display=swap');


/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


img {
  margin-top: 15px;
  max-width: 800%;
  height: 200px;
}




/*Login*/
.bemvindo3 {

  font-family: "Freeman", sans-serif;
  font-size: 45px;
  padding-top: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.bemvindo4 {
  font-family: "Freeman", sans-serif;
  font-size: 20px;
  padding-bottom: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.bemvindo {

  font-family: "Freeman", sans-serif;
  font-size: 30px;
  padding-bottom: 10px;

}

.bemvindo2 {
  font-family: "Freeman", sans-serif;
  font-size: 20px;
  padding-bottom: 20px;
  color: rgb(56, 56, 56);
}

.login-container2 {
  flex: 1;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(252, 252, 252);
  padding: 80px;
  width: 750px;
  height:auto;
  margin: auto;
  margin-top: 200px;

}

.login-container3 {
  flex: 1;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(252, 252, 252);
  padding: 80px;
  width: 1000px;
  height:auto;
  margin: auto;
  margin-top: 200px;

}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input-login {
  width: 100%;
  max-width: 220px;
  height: 45px;
  padding: 12px;
  border-radius: 12px;
  border: 2px solid rgb(15, 15, 15);
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  margin-bottom: 20px;
}

.input-login:hover {
  border: 3px solid rgb(39, 39, 39);
  box-shadow: 0px 0px 20px -17px;
}

.input-login:active {
  transform: scale(0.95);
}

.input-login:focus {
  border: 3px solid rgb(0, 0, 0);
}

.signup-link {
  font-family: "Freeman", sans-serif;
  color: #6B7280;
  text-align: center;
  padding-top: 20px;
}

.signup-link a {
  color: #000;
  font-size: 17px;
  text-decoration: underline;

}


/*cadastro feito css*/

.sif {
  font-family: "Freeman", sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  font-size: 90px;
}

.linkada {
  font-family: "Freeman", sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 20px;
}

.linkzin {
  font-family: "Freeman", sans-serif;
  color: #00d5ff;
  text-align: center;
  padding-top: 25px;
  font-size: 20px;
}


/* button */
.glow-on-hover {
  font-family: "Freeman", sans-serif;
  font-size: 20px;
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}



.glow-on-hover:before {

  content: '';
  background: linear-gradient(45deg, #003cff, #002fff, #0051ff, #0077ff, #00a2ff, #00aeff, #00ffff, #00ffff, #003cff);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #ffffff
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}


.content-container {
  margin: 0 auto;
  /* Remove qualquer margem */
  padding: 20px;
  /* Adicione algum preenchimento para melhor separação */
  position: relative;
  /* Necessário para o posicionamento adequado dos elementos dentro */
}




/* BACKGROUND*/


* {
  margin: 0px;
  padding: 0px;
}

.area {
  background: linear-gradient(to right, #a7a7a7, #aaaaaa, #797979, #636363);
  width: 100%;
  height: 100vh;
}


.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;

}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.829);
  border: 2px solid rgb(0, 0, 0);
  animation: animate 25s linear infinite;
  bottom: -150px;
  pointer-events: none;

}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}

.header,
.footer,
.main {
  position: relative;
  z-index: 1;
}

.card {
  width: 350px;
  height: 400px;
  background: #e0e0e0;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.card::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(8, 4, 54), rgb(8, 4, 54));
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: '';
  position: absolute;
  background: #ffffff;
  ;
  inset: 5px;
  border-radius: 15px;
}

/* .card:hover:before {
  background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
  animation: rotBGimg 3.5s linear infinite;
} */


#shirt-img {
  width: 350px;
  height: 400px;
  z-index: 1;
  margin: 0 auto;
}

.shirt-wrapper {
  position: relative;
  display: inline-block;
}

#shirt-icon {
  z-index: 1;
  position: absolute;
  top: 90px;
  /* Ajuste conforme necessário */
  left: 200px;
  /* Ajuste conforme necessário */
  width: 45px;
  /* Ajuste conforme necessário */
  height: auto;
}

.hidden {
  display: none;
}

.icon-options {
  display: flex;
  justify-content: center;
  /* Alinha os botões à esquerda */
  gap: 10px;
  padding: 10px;
}

.color-options {
  display: flex;
  justify-content: center;
  /* Alinha os botões à esquerda */
  gap: 10px;
  padding: 10px;

}

.shirt-btn {
  width: 40px;
  height: 40px;
  border: 2px solid #000;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
}

.shirt-btn.preta {
  background-color: rgb(26, 26, 26);
}
.shirt-btn.blue {
  background-color: rgb(68, 118, 255);
}
.shirt-btn.purple {
  background-color: rgb(75, 0, 214);
}
.shirt-btn.green {
  background-color: rgb(1, 117, 1);
}
.shirt-btn.cyan {
  background-color: rgb(31, 71, 69);
}
.shirt-btn.turquoise {
  background-color: rgb(25, 185, 164);
}
.shirt-btn.darkBlue {
  background-color: rgb(24, 45, 100);
}
.shirt-btn.white {
  background-color: rgb(211, 211, 211);
}
.shirt-btn.pink {
  background-color: rgb(218, 19, 142);
}
.shirt-btn.red {
  background-color: rgb(121, 15, 15);
}
.shirt-btn.yellow {
  background-color: rgb(194, 185, 55);
}

.teste {
  background-color: #ffff84, #ffff64;
}

.icon-options {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icon-img {
  width: 50px;
  height: 50px;
}

.icon-btn {
  padding-bottom: 40px;
  background-color: rgb(180, 180, 180);
  width: 60px;
  height: 82px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.clear-btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: #2b2b2b;
  border: 2px solid black;
  border-radius: 5px;
  color: #ffffff;
}


.login-wrapper {
  display: flex;
  gap: 20px;
  /* Espaço entre os contêineres */
  justify-content: center;
  /* Centralizar os contêineres horizontalmente */
}


/* Estilos adicionais para cada login-container, se necessário */


.dividir {
  display: flex;
  /* Alinha os itens no início da linha */
  padding: 10px;
  /* Adiciona um espaço interno ao redor dos itens */
}

.logoPersonalizar {
  flex-shrink: 0;
  /* Impede que a logo seja encolhida */
}

.textoInicial {
  padding-right: 100px;
  flex-grow: 1;
  /* Permite que o texto cresça para preencher o espaço disponível */
}

#show-icons-btn {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #444;
  color: white;
  border: none;
  cursor: pointer;
}

#show-icons-btn:hover {
  background-color: #555;
}

@media screen and (max-width:800px){
  .login-wrapper{
    flex-direction: column;
  }
}