@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');


/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----------------------------------------------TELA DE CARREGAMENTO---------------------------------------------------*/

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none;
  /* Inicialmente escondido */
}




/*--------------------------------SLIDE BANNER DA PAGINA PRINCIPAL-----------------------------------*/

/* Estilo do contêiner do texto */
.slide-text {
  font-family: "Bebas Neue", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
  /* Certifica-se de que o texto fique acima da imagem */
}

.slide-link2 {
  font-size: 35px;
  text-decoration: none;
  bottom: 50px;
  right: 160px;
  padding: 10px 20px;
  border-radius: 5px;
}

.slide-text2 {
  font-family: "Bebas Neue", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
  /* Certifica-se de que o texto fique acima da imagem */
}

.slide-link {
  font-size: 70px;
  color: white;
  /* Altere a cor conforme necessário */
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.slide-text::after,
.slide-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  /* Ajuste essa distância para alterar o espaço abaixo do texto */
  width: 0;
  height: 3px;
  background-color: rgb(255, 255, 255);
  transition: width 0.3s ease;
}

.slide-text:hover::after {
  width: 100%;
}

section.slider {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0 !important;
  overflow: hidden;

}

.slider-content {
  margin-top: 0px;
  width: 400%;
  height: auto;
  display: flex;
}

.slider-content input {
  display: none;
}

.slide-box {
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
  transition: 1s;
}

.slide-box img {
  height: 100%;
  width: 100%;
}

.nav-manual,
.nav-auto {
  position: absolute;
  bottom: -90px;
  /* Posiciona 10px acima da parte inferior do contêiner */
  right: 10px;
  /* Posiciona 10px à esquerda do lado direito do contêiner */
  display: flex;
  justify-content: flex-end;
  /* Alinha à direita */
  gap: 5px;
  /* Espaçamento entre os botões */
}

/* Estilo dos botões manuais e automáticos */
.nav-manual .manual-btn,
.nav-auto div {
  border: 1px solid #ffffff;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.6s;
}

.nav-manual .manual-btn:not(:last-child),
.nav-auto div:not(:last-child) {
  margin-right: 10px;
}

.nav-manual .manual-btn:hover {
  background-color: #f1eded;
}

#radio1:checked~.nav-auto .auto-btn1,
#radio2:checked~.nav-auto .auto-btn2,
#radio3:checked~.nav-auto .auto-btn3 {
  background-color: #ffffffe2;
}

#radio1:checked~.primeiro {
  margin-left: 0%;
}

#radio2:checked~.primeiro {
  margin-left: -25%;
}


.text-container {
  display: flex;
  font-family: "Bebas Neue", sans-serif;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
  width: 80%;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.text-box {

  font-size: 22px;
  padding: 20px;
  text-align: center;
}

.text-box svg {
  margin-right: 10px;
}

.text-container:hover {
  transform: scale(1.1);
}

.text-produtos-teste {
  font-family: "Bebas Neue", sans-serif;
  font-size: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.circle-container-BolinhasDeProdutos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
  width: 90%;
}

.circle-produtos {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #353535;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  transition: transform 0.10s ease;
}

.circle-produtos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.circle-produtos :hover {
  transform: scale(1.1);
}








/*--------------------------------------------------------SLIDE DO INDEX TEXT---------------------------------------------------*/

/* Sobreposição preta para o efeito de escurecimento */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  /* Preto com alta opacidade */
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 1;
  /* Coloca a sobreposição acima da imagem */
}

/* Contêiner do slider */
.slider-container-text {
  position: absolute;
  color: rgb(255, 255, 255);
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  /* Ajuste conforme o tamanho necessário para os slides */
  background: #050505;
  overflow: hidden;
  /* Oculta slides fora da área visível */
  display: flex;
  align-items: center;
  z-index: 2;
  /* Coloca o slider acima da imagem */
}

/* Slides */
.slides-text {
  display: flex;
  flex-direction: column;
  /* Organiza slides verticalmente */
  transition: transform 0.5s ease-in-out;
  /* Suaviza a transição */
  width: 100%;
  height: 80%;
  /* Garante que os slides preencham o contêiner */
}

/* Estilo individual dos slides */
.slide-text-index {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  height: 100px;
  /* Ajuste conforme necessário */
  flex-shrink: 0;
  /* Impede que o slide encolha */
}

.slide-text-index h2,
.slide-text-index p {

  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  margin: 0;
  /* Remove margens */
}

/* Botões de navegação */
.slider-container-text button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  /* Torna o fundo do botão transparente */
  font-size: 24px;
  cursor: pointer;
  padding: 600px;
  z-index: 3;
  /* Garante que os botões estejam acima do conteúdo do slider */

  /* Ajusta o padding para ficar apenas ao redor do texto */
}

.prev {
  color: rgb(255, 255, 255);
  left: 10px;
}

.next {
  color: rgb(255, 255, 255);
  right: 10px;
}

/*ICONE WATS*/
.whats {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9999px;
}

/* BARRA DE NAVEGAÇÃO DO SITE */
nav {
  height: 100px;
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  /* Torna a navbar fixa */
  top: 40px;
  /* Deslocamento inicial */
  left: 0;
  /* Alinha a navbar na esquerda da página */
  width: 100%;
  /* Faz a navbar ocupar toda a largura da página */
  z-index: 1000;
  /* Garante que a navbar fique acima de outros elementos */
  background-color: rgb(255, 255, 255);
  /* Cor de fundo opaca */
  transition: top 0.3s;
  /* Transição suave para a mudança de posição */
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 2px 2px 5px rgba(2, 2, 2, 0.281);

}

nav.scrolled .center-section a::after,
nav.scrolled .right-section a::after {
  background-color: rgb(0, 0, 0);
  /* Muda a cor da borda inferior para preto */
}

nav.scrolled {
  top: 0;
  /* Fixa o nav no topo quando rola para baixo */
  background-color: white !important;
  /* Cor de fundo após rolar */
  color: black !important;
  /* Cor do texto após rolar */
}

nav.scrolled a {
  font-size: 25px;
  color: black !important;
  /* Cor dos links após rolar */
}

nav.scrolled .dropdown-menu a {
  font-size: 18px;
  /* Ajuste o tamanho da fonte quando rolado */
  color: gray;
  /* Ajuste a cor do texto quando rolado */
}

/*HOVERS NAV*/
nav:hover {
  background-color: #ffffff;
}

nav:hover a {
  color: #000000;
}



nav:hover .center-section .dropdown>a::after,
nav:hover .right-section a::after {
  background-color: rgb(0, 0, 0);
  /* Muda a cor da borda inferior para preto */

}

nav:hover #logo {
  content: url('../../../img/logopreta.png');
  /* Substitui a imagem quando o mouse passa no <nav> */
  transition: all 0.3s ease;
  /* Transição suave */
}


a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 25px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
}


.right-section a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -21px;
  /* Ajuste essa distância para alterar o espaço abaixo do texto */
  width: 0;
  height: 3px;
  background-color: rgb(0, 0, 0);
  transition: width 0.3s ease;
}

.center-section .dropdown>a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  /* Ajuste essa distância para alterar o espaço abaixo do texto */
  width: 0;
  height: 3px;
  background-color: rgb(0, 0, 0);
  transition: width 0.3s ease;
}

.center-section a:hover::after,
.right-section a:hover::after {
  width: 100%;
}

.center-section a,
.right-section a {
  padding: 10px 15px;
  border-radius: 5px;
}


.left-section,
.center-section,
.right-section {
  display: flex;
  align-items: center;
}

/* Garante que a center-section fique centralizada */
.center-section {
  left: 190px;
  position: relative;
  z-index: 1;
  /* Mantém acima de outros conteúdos, se necessário */
}

/* Right-section posicionada à direita */
.right-section {
  display: flex;
  z-index: 2;
}

.center-section ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.center-section li {
  margin: 0 15px;
  /* Espaçamento horizontal entre os itens */
  position: relative;
  /* Para os dropdowns */

}


.center-section a {
  display: flex;
  /* Isso permite que o link ocupe toda a área do item da lista */
  align-items: center;
  /* Centraliza o texto verticalmente */
  padding: 30px 15px;
  /* Ampla área de clique */

}

.right-section a {
  margin-left: 0px;
  left: 300px;
}

.search-bar-container {
  position: absolute;
  top: 50%;
  left: 83%;
  transform: translate(-50%, -50%);
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  margin-right: -18px;
}

.search-icon {
  position: absolute;
  left: 1rem;
  fill: #bdbecb;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  z-index: 1;
}


.profile-text {
  margin-left: 5px;
  color: #ffffff;
  /* Change to match the color in your image */
  font-weight: bold;
}

.profile-link::after {
  content: none;
}

/* Estilo geral do link na seção de perfil */
.profile-text .text-login {
  position: relative;
  padding: 5px;
  border-radius: 5px;
  color: #000000;
  font-size: 20px;
  /* Adjust size as needed */
  text-decoration: none;

}

.profile-text .text-login:hover {
  text-decoration: underline;
}

.text-login:hover {
  color: #000000;
  text-decoration: none;
}

.input {
  font-family: "Montserrat", sans-serif;
  width: 80%;
  height: 35px;
  padding-left: 2.5rem;
  box-shadow: 0 0 0 1.5px #313131, 0 0 25px -17px #000;
  border: 0;
  border-radius: 12px;
  background-color: #000000;
  outline: none;
  color: #ffffff;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
}

.input::placeholder {
  color: #bdbecb;
}

.input:hover {
  box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  box-shadow: 0 0 0 2.5px #2f303d;
}


/* Estilo para os itens do dropdown */
.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  /* Inicialmente oculto */
  position: absolute;
  /* Posiciona o menu dropdown em relação ao item */
  width: 100%;
  /* Define a largura como 100% da largura do item dropdown */
  left: 0;
  /* Alinha o menu dropdown com a borda esquerda do item dropdown */
  top: 97px;
  /* Ajusta a posição abaixo do nav */
  background-color: #ffffff;
  /* Fundo do menu dropdown */
  z-index: 1000;
  /* Garante que o menu fique acima de outros elementos */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  /* Adiciona sombra para um efeito de destaque */
}

/* Links dentro do dropdown */
.dropdown-menu a {
  padding: 10px 15px;
  font-size: 18px;
  color: black;
  display: block;
  width: 100%;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  /* Suave transição */
}

/* Efeito hover ao passar o mouse sobre os links do dropdown */
.dropdown-menu a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  /* Cor de fundo ao passar o mouse */
  color: #7a7a7a;
  /* Cor do texto ao passar o mouse */
}


.dropdown:hover .dropdown-menu {
  display: block;
  /* Exibe o dropdown ao passar o mouse */
}

.dropdown-items {
  display: flex;
  flex-direction: column;
  /* Mantém os itens do dropdown empilhados */
}


/* banner Principal */
.bannerzinho {
  display: grid;
  place-items: center;
  height: 100%;
}

.bannerzinho img {
  margin-top: 15px;
  max-width: 80%;
  height: auto;
  border-radius: 40px;
}

.teste {
  background-color: rgba(141, 141, 141, 0.464);
  height: 40px;
  margin: auto;
}






/*-------------------------------------------------------------------CSS DA PAGINAS DE PRODUTOs--------------------------------------------------------------------------*/
.produtos-camisas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  /* Ocupa toda a altura da viewport */
  width: 100%;
  /* Ocupa toda a largura da viewport */
  background-color: #ffffff00;
}

/* A div de produtos fica centralizada com margem de 20% em cada lado */
.produtos-camisas-masculino-meio-tela {
  display: block;
  width: 80%;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 250px;
  background-color: #ffffff00;
  gap: 10px;
}

.produtos-filtros {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  background-color: #ffffff00;
}

.filtros {
  gap: 100px;
  display: flex;
  font-size: 14px;
  font-family: "Bebas Neue", sans-serif;
  cursor: pointer;
}

.filtros h1 {
  transition: color 0.3s ease;
  /* Adiciona uma transição suave para a cor */
}

.filtros h1:hover {
  color: #222222cc;
  /* Cor do texto quando o cursor passa sobre ele */
}

.produtos-camisas {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: #ffffff00;
  gap: 30px;
  /* Espaço entre as caixas */
}

.box {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
  border: #000;
  padding: 20px;
  flex: 1 1 calc(33.333% - 20px);
  /* Tamanho da caixa para garantir três por linha */
  box-sizing: border-box;
  text-align: left;
  /* Alinhamento à esquerda para o texto */
  display: block;
  flex-direction: column;
  align-items: center;

}

.box img {
  width: 92%;
  /* Ajuste conforme necessário */
  margin: auto;
  /* Centraliza a imagem horizontalmente */
}

.box h1 {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  margin: 10px 0;
  align-self: flex-start;
  /* Alinha o texto à esquerda */
}

.box h3 {
  align-self: flex-start;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
}


.box p {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #888;
  align-self: flex-start;
  /* Alinha o texto à esquerda */
}

.box button {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  padding: 10px 20px;
  color: white;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  /* Empurra o botão para o fundo da caixa */
  align-self: center;
  /* Alinha o botão à esquerda */
}


/*-------------------------------------------------------------- BOTÂO DO FILTRAR PAGINA DE PRODUTOS------------------------------------------------------*/
.btn-filtrar {

  padding: 15px 30px;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  color: white;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  /* Adiciona a transição suave */
}

.btn-filtrar:hover {
  background-color: #131313e5;
}



/*SIDE BAR DE FILTRO*/
.left-sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  background-color: #232323;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: "Nunito", sans-serif;
}

.closebtn-left {
  border: none;
  font-size: 50px;
  background-color: #00000000;
  color: rgb(255, 255, 255);
}

.closebtn-left svg {
  margin: 30%;
  transition: 0.3s;
}

.closebtn-left:hover svg {
  color: #a2a2a2;
}

.left-sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.left-sidebar h1 {
  color: white;
  margin: 5px;
}

.left-sidebar a:hover {
  color: #f1f1f1;
}

.left-sidebar .closebtn-left {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.filter-section-left {
  padding: 20px;
  box-shadow: 0 1px 0px rgb(0, 0, 0);
}

.filter-section-left h3 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-section-left ul {
  list-style-type: none;
  padding: 0;
  display: none;
}

.filter-section-left li {
  margin: 10px;
  margin-bottom: 10px;
  display: inline-block;
  /* Exibir os elementos em linha */
  /* Adicionar margem entre os elementos */
}

.filter-section-left label {
  color: rgb(255, 255, 255);
}

.arrow {
  font-size: 18px;
  margin-left: 10px;
  transition: transform 0.5s;
}

.arrow.up {
  transform: rotate(180deg);
}

.dropdown-content {
  display: none;
}


#tamanhosDropdown {
  font-size: 20px;
}


#modelosDropdown {
  font-size: 20px;
}


#priceRange {
  width: 300px;
}

.price-values {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: white;
}

#minPrice,
#maxPrice {
  font-weight: bold;
}

.btn-filtrar-itens-loja {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-filtrar-itens-loja button {
  border: none;
  border-radius: 10px;
  height: 50px;
  width: 200px;
  background-color: #ffffffd6;
  font-size: 20px;
  color: rgb(0, 0, 0);
}


.color-button-container {
  display: flex;
  flex-wrap: wrap;
}

.color-button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid transparent;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0 0 0 4px #ffffffe9, 0 0 0 8px #00000000;
  /* Cor da borda */
  transition: transform 0.3s, box-shadow 0.3s;
}

.color-button:hover {
  transform: scale(1.1);
}

.color-button.selected {
  box-shadow: 0 0 0 6px #fff, 0 0 0 8px #000;
  /* Ajuste a cor conforme necessário */
}

/* SIDEBAR DA BARRA DE NAVEGAÇÃO DO SITE */
.sidebar {
  height: 100%;
  width: 0px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 2000;
}

.sidebar a {
  text-align: right;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  font-family: "Freeman", sans-serif;
  margin-right: 10px;
}

.sidebar a:hover {
  color: #b6b6b6;
}

.sidebar .close-btn {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 38px;
}


/* Overlay for the sidebar */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.11);
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 1999;
}





/*FOOTER FIM DA PAGINA*/

.footer {
  background-color: #000;
  height: 520px;
  display: flex;
  /* Define flexbox */
  justify-content: center;
  /* Centraliza horizontalmente */
  font-family: "Nunito", sans-serif;
  text-align: justify;
  color: white;
}

.centroFooter {
  width: 80%;
  height: 100%;
  /* Ocupa toda a altura do footer */
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Alinha os itens no início do eixo principal */
  position: relative;
  /* Permite usar posicionamento absoluto dentro dela */
}


.Footer-main {
  width: 90%;
  height: 65%;
  background-color: #000000;
  position: relative;
  top: 0%;
  /* Ajuste este valor para posicionar mais acima ou mais abaixo */
  display: flex;
  /* Define flexbox para as colunas */
  justify-content: space-between;
  /* Distribui as colunas uniformemente */
}

.coluna {
  width: 25%;
  /* Cada coluna ocupa 30% da largura de .Footer-main */
  background-color: #000000;
  /* Cor de fundo para visualização */
  padding: 10px;
  box-sizing: border-box;
  /* Inclui o padding na largura total */
  display: flex;
  flex-direction: column;
}

.coluna h2 {
  margin-left: 15px;
  font-size: 22px;
}

.coluna a {
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin-bottom: -5px;
}

.coluna:last-child {
  display: flex;
  /* Define flexbox para a terceira coluna */
  flex-direction: column;
  /* Organiza as subcolunas verticalmente */
  justify-content: space-between;
  /* Distribui as subcolunas uniformemente */
}

.sub-coluna {
  flex: 1;
  /* Faz as subcolunas ocuparem a mesma quantidade de espaço */
  background-color: #000000;
  /* Cor de fundo para visualização */
  margin-bottom: 10px;
  /* Espaço entre as subcolunas */
}

.sub-coluna h3 {
  margin-bottom: 15px
}

.sub-coluna:last-child {
  margin-bottom: 0;
  /* Remove o espaço após a última subcoluna */
}

.Footer-bottom {
  width: 90%;
  /* ocupa toda a largura da .centroFooter */
  display: flex;
  /* utiliza flexbox para alinhamento */
  justify-content: space-between;
  /* alinha um item em cada lado e outro no centro */
  padding: 30px 0;
  /* adicionar algum padding vertical */
  position: relative;
  /* Ajuste se necessário */
}

.Footer-item {
  color: white;
}

.Footer-left {
  margin-top: 10px;
  text-align: left;
  /* alinha texto à esquerda */
}

.Footer-left h3 {
  font-size: 15px;
}

.Footer-left p {
  font-size: 10px;
}

.Footer-center img {
  width: 80px;
  height: 80px;
  margin-left: 50px;
}

.Footer-right {
  margin-top: 5px;
  text-align: right;
  /* alinha texto à direita */
}

.Footer-right h3 {
  font-size: 15px;
}

.Footer-right p {
  font-size: 10px;
}

.div-between {
  width: 90%;
  border-top: 1px solid white;
  /* Adicionando a linha */
}





















































.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Bloco Principal */
.block {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  width: 70%;
  border-radius: 10px;
  gap: 40px;
}

/* Imagem do Produto */
.spaceblock {
  font-family: "Archivo", sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  gap: 15px;
  height: auto;
}

.descriçao {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.spaceblock img {
  border-radius: 5px;
  width: 90%;
  height: auto;
}

.descriçao h3 {
  font-size: 25px;
}

.descriçao h2 {
  color: #313131;
}

.descriçao p {
  font-size: 20px;
}

/* Detalhes do Produto */
.space {
  font-family: "Bebas Neue", sans-serif;
  padding: 30px;
  width: 40%;
  height: auto;
}

.produto-nome {
  margin-bottom: 10px;
  font-size: 3em;
  font-weight: bold;
  color: #222;
}

.preco {
  font-size: 2.5em;
  color: #1f1f1f;
}

.precoComDesconto {
  font-size: 1.5em;
  color: #1f1f1f;
}

.tamanhos-container {
  display: flex;
  flex-wrap: wrap;
  /* Permite que os botões se movam para a linha seguinte */
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tamanho-btn {
  width: calc(45% - 5px);
  /* Cada botão ocupa 50% do espaço, menos metade do gap */
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  /* Tamanho da fonte ajustado */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tamanho-btn:hover {
  background-color: #e0e0e0;
  /* Cor suave para o efeito hover */
}

.tamanho-btn.active {
  background-color: #383737;
  color: #fff;
}

.tamanho-btn.active:hover {
  background-color: #333;
  /* Cor para quando o botão estiver ativo e o mouse estiver sobre ele */
}










/*Botoes*/
.botoes {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.botoes button {
  width: 220px;
  height: 50px;
}

/* Botão de comprar */
.comprar-btn {
  padding: 15px;
  font-size: 1.2em;
  color: white;
  background-color: #292929;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.comprar-btn:hover {
  background-color: #363636;
}

.quantidade-container {
  height: 45px;
  width: 120px;
  display: flex;
  align-items: center;
  border: 2px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: border-color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.quantidade-container:hover {
  border-color: #000;
}

.quantidade-btn {
  background-color: #ffffff;
  border: none;
  padding: 5px 15px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
  transition: background-color 0.3s ease;
}

.quantidade-btn:hover {
  background-color: #edededbb;
}

#quantidade-input {
  width: 36px;
  text-align: center;
  border: none;
  font-size: 18px;
  pointer-events: none;
  /* Impede que o usuário edite diretamente */
  background-color: #fff;
}

.salvarFovoritas-btn {
  width: 365px;
  height: 50px;
  padding: 15px;
  font-size: 1.0em;
  color: rgb(0, 0, 0);
  background-color: #00000000;
  border: 2px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.8s;
  margin-bottom: 25px;
}

.salvarFovoritas-btn:hover {
  background-color: #000000d0;
  color: white;
  border: #000000d0;
}




.mini-text {
  color: #4b4b4b;
  margin-right: 100px;
  font-family: "Archivo", sans-serif;
  font-size: 13px;
}




/*Frete*/

.frete {
  flex-direction: column;
  display: flex;
}

.freteReceber {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  gap: 15px;
  /* Espaço entre o input e o botão */
}

.freteReceber input {
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid #ddd;
  width: 200px;
  transition: border-color 0.3s ease;
}

.freteReceber input:focus {
  outline: none;
  border-color: #757575;
  /* Cor do foco */
}

.freteReceber button {
  padding: 10px 20px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: #00000000;
  border: 2px solid transparent;
  /* Borda transparente inicialmente */
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, border-color 0.3s ease;
}

.freteReceber button:hover {
  transform: scale(0.95);
  /* Move o botão para cima */
  border-color: #000;
  /* Borda preta */
}

.resultadoFrete {
  margin-top: 40px;
  width: 350px;
}

.frete-container {
  margin-top: 10px;
  /* Adiciona um espaçamento entre as caixas */
  background-color: #f9f9f9;
  /* Cor de fundo */
  border: 1px solid #ddd;
  /* Borda sutil */
  border-radius: 8px;
  /* Bordas arredondadas */
  width: 350px;
  /* Largura fixa para as caixas */
  height: 65px;
}

.repostaDb-frete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 65px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: #ffffff00;
}

.repostaDb-frete a {
  color: #000;
}

.box-infotransporte {
  display: flex;
  width: 100%;
  background-color: #00000000;
  height: 100%;
}

.infoTransporte {
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  flex-direction: column;
  margin-top: 5px;
}

.precoFrete {
  font-weight: bold;
  padding: 20px 15px;
  margin-left: 5px;
}











/*AVALIAÇOES*/


.comentarios {
  margin-top: 75px;
  padding: 10px;
}

.comentarios h3 {
  font-size: 28px;
}


#lista-comentarios {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 25px;
}

#lista-comentarios .comentario-item:nth-child(n+4) {
  display: none;
  /* Esconde comentários após o terceiro */
}

.comentario-item {
  padding: 10px;
  width: 360px;
}

.container-comentarios {
  display: flex;
  flex-direction: column;
  font-family: "Archivo", sans-serif;
  color: #000000dc;
  gap: 15px;
}

.container-comentarios h3 {
  font-size: 17px;
}

.nome-data-comentario {
  display: flex;
}

.nome-data-comentario p {
  font-size: 15px;
}

.btn-Comentarios {
  display: flex;
  gap: 20px;
}

#btn-ver-mais {
  height: 45px;
  width: 160px;
  background-color: #ffffff00;
  font-size: 16px;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin-top: 20px;
  transition: background-color 0.8s;
}

#btn-ver-mais:hover {
  background-color: #161616;
  color: white;
}

#btn-fazer-avaliacao {
  height: 45px;
  width: 160px;
  background-color: #181717;
  font-size: 16px;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin-top: 20px;
  transition: background-color 0.8s;
}







/* Estilo para o modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}


.modal-content {
  background-color: white;
  font-family: "Archivo", sans-serif;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #888;
  width: 40%;
  position: relative;
}

#comentario-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
}

.modal-content input {
  font-size: 18px;
  height: 40px;
  padding: 5px;
}


.modal-content input:focus {
  background-color: #f0f0f000;
  outline: none;
}

#comentario-texto {
  font-family: "Archivo", sans-serif;
  resize: none;
  width: 100%;
  height: 100px;
  padding: 5px;
  font-size: 18px;
}


.recomenda {
  display: flex;
  align-items: center;
  gap: 10px;
}


.opcoes {
  display: flex;
  margin-top: 2px;
  gap: 10px;
}

.recomenda label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.recomenda p {
  font-size: 18px;
  margin: 0;
}

.recomenda input[type="radio"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #000000;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.6s, border-color 0.2s;
}


.recomenda input[type="radio"]:checked {
  background-color: black;
  border-color: rgb(255, 255, 255);
}


.recomenda input[type="radio"]:focus {
  outline: none;
}



.button-container {
  display: flex;
  justify-content: flex-end;
}

.button-container button {
  width: 250px;
  border: 1px solid #00000023;
  border-radius: 8px;
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.8s;
}

.button-container button:hover {
  background-color: rgba(214, 214, 214, 0.685);
}


/* Estilo do botão X */
.fechar-modal {
  color: #000000;
  font-size: 35px;
  position: absolute;
  top: 18px;
  right: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.fechar-modal:hover,
.fechar-modal:focus {
  color: #333;
  text-decoration: none;
}


















/* Estilo da mensagem de sucesso */
.mensagem-sucesso {
  display: none;
  /* Inicialmente oculta */
  position: fixed;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Archivo", sans-serif;
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  /* Garante que fique acima de outros elementos */
  opacity: 0;
  transition: opacity 0.5s ease;
}

.mensagem-sucesso.mostrar {
  display: block;
  opacity: 1;
}

.mensagem-erro {
  display: none;
  /* Inicialmente oculta */
  position: fixed;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Archivo", sans-serif;
  background-color: #9b1919;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  /* Garante que fique acima de outros elementos */
  opacity: 0;
  transition: opacity 0.5s ease;
}

.mensagem-erro.mostrar {
  display: block;
  opacity: 1;
}