@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=REM:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


img {
  margin-top: 15px;
  max-width: 800%;
  height: 200px;
}




/*Login*/
.bemvindo3 {

  font-family: "Bebas Neue", sans-serif;
  font-size: 50px;
  padding-top: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.bemvindo4 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  padding-bottom: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.bemvindo {

  font-family: "Bebas Neue", sans-serif;
  font-size: 35px;
  padding-bottom: 10px;
  text-align: center;

}

.bemvindo2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  padding-bottom: 20px;
  color: rgb(56, 56, 56);
  text-align: center;

}

.login-container2 {
  flex: 1;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(252, 252, 252);
  padding: 40px; /* Ajuste o padding conforme necessário */
  width: 800px;
  height: 700px; /* Altura fixa */
  margin: auto;
  margin-top: 180px;
  overflow: hidden; /* Garante que o conteúdo não ultrapasse o tamanho do container */
}


.login-container3 {
  flex: 1;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(252, 252, 252);
  padding: 40px; /* Ajuste o padding conforme necessário */
  width: 800px;
  height: 700px; /* Altura fixa */
  margin: auto;
  margin-top: 180px;
  overflow: hidden; /* Garante que o conteúdo não ultrapasse o tamanho do container */
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input-login {
  width: 100%;
  max-width: 220px;
  height: 45px;
  padding: 12px;
  border-radius: 12px;
  border: 2px solid rgb(15, 15, 15);
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  margin-bottom: 20px;
}

.input-login:hover {
  border: 3px solid rgb(39, 39, 39);
  box-shadow: 0px 0px 20px -17px;
}

.input-login:active {
  transform: scale(0.95);
}

.input-login:focus {
  border: 3px solid rgb(0, 0, 0);
}

.signup-link {
  font-family: "Freeman", sans-serif;
  color: #6B7280;
  text-align: center;
  padding-top: 20px;
}

.signup-link a {
  color: #000;
  font-size: 17px;
  text-decoration: underline;

}


/*cadastro feito css*/

.sif {
  font-family: "Freeman", sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  font-size: 90px;
}

.linkada {
  font-family: "Freeman", sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 20px;
}

.linkzin {
  font-family: "Freeman", sans-serif;
  color: #00d5ff;
  text-align: center;
  padding-top: 25px;
  font-size: 20px;
}


.content-container {
  margin: 0 auto;
  /* Remove qualquer margem */
  padding: 20px;
  /* Adicione algum preenchimento para melhor separação */
  position: relative;
  /* Necessário para o posicionamento adequado dos elementos dentro */
}




/* BACKGROUND*/


* {
  margin: 0px;
  padding: 0px;
}

.area {
  background: linear-gradient(to right, #a7a7a7, #aaaaaa, #797979, #636363);
  width: 100%;
  height: 100vh;
}


.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;

}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.829);
  border: 2px solid rgb(0, 0, 0);
  animation: animate 25s linear infinite;
  bottom: -150px;
  pointer-events: none;

}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}

.header,
.footer,
.main {
  position: relative;
  z-index: 1;
}

.card {
  width: 350px;
  height: 400px;
  background: #e0e0e0;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.card::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(8, 4, 54), rgb(8, 4, 54));
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: '';
  position: absolute;
  background: #ffffff;
  ;
  inset: 5px;
  border-radius: 15px;
}

/* .card:hover:before {
  background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
  animation: rotBGimg 3.5s linear infinite;
} */


#shirt-img {
  width: 350px;
  height: 400px;
  z-index: 1;
  margin: 0 auto;
  transition: transform 0.1s ease;

}

.shirt-wrapper {
  position: relative;
  display: inline-block;
  
}

#custom-image {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  cursor: move;
  z-index: 10000;
}

#shirt-icon {
  z-index: 1;
  position: absolute;
  top: 90px;
  /* Ajuste conforme necessário */
  left: 200px;
  /* Ajuste conforme necessário */
  width: 45px;
  /* Ajuste conforme necessário */
  height: auto;
}

.hidden {
  display: none;
}

.icon-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  
}

.color-options {
  display: flex;
  justify-content: center;
  /* Alinha os botões à esquerda */
  gap: 10px;
  
  padding: 10px;

}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;  /* Aqui, aplicamos o overflow ao container */
  margin-top: -20px;

}

.carousel {
  width: 80%; /* Garante que o carrossel ocupe toda a largura disponível */
  max-width: 100%;
  height: 150px; /* Ajuste conforme necessário */
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinha os ícones à esquerda */
  position: relative;
  overflow: hidden; /* Impede que qualquer conteúdo ultrapasse o limite */
  margin: 0 auto;
}

.carousel-btn {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-track {
  display: flex;
  align-items: center; /* Alinha os ícones verticalmente */
  gap: 10px; /* Espaçamento entre os ícones */
  transition: transform 0.3s ease-in-out;
}



.prev-btn {
  left: 0px; /* Fora do carrossel à esquerda */
}

.next-btn {
  right: 0px; /* Fora do carrossel à direita */
}


.shirt-btn {
  width: 40px;
  height: 40px;
  border: 2px solid #000;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.2s, box-shadow 0.3s ease, background-color 0.3s ease;

}

.shirt-btn:hover {
  transform: scale(1.1); /* Aumenta o tamanho do ícone */
}


.shirt-btn.preta {
  background-color: rgb(26, 26, 26);
}
.shirt-btn.blue {
  background-color: rgb(68, 118, 255);
}
.shirt-btn.purple {
  background-color: rgb(75, 0, 214);
}
.shirt-btn.green {
  background-color: rgb(1, 117, 1);
}
.shirt-btn.cyan {
  background-color: rgb(31, 71, 69);
}
.shirt-btn.turquoise {
  background-color: rgb(25, 185, 164);
}
.shirt-btn.darkBlue {
  background-color: rgb(24, 45, 100);
}
.shirt-btn.white {
  background-color: rgb(211, 211, 211);
}
.shirt-btn.pink {
  background-color: rgb(218, 19, 142);
}
.shirt-btn.red {
  background-color: rgb(121, 15, 15);
}
.shirt-btn.yellow {
  background-color: rgb(194, 185, 55);
}

.teste {
  background-color: #ffff84, #ffff64;
}

.icon-options {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icon-img {
  width: 50px;
  height: 50px;
}

.carousel-track .icon-btn {
    min-width: 61px; /* Tamanho fixo para cada ícone */
    height: 82px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.3s ease, background-color 0.3s ease;
    background-color: rgb(226, 226, 226);
    padding-bottom: 40px;
    position: relative;
    z-index: 0;
  }

  /* Efeito de brilho nos ícones */
  .icon-btn:before {
    content: '';
    background: linear-gradient(45deg, #8c00ff, #0004ff, #00f7ff, #00ff6a, #fffb00, #ff9100, #ff0800, #ff0095, #003cff);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 5px;
    
  }
  
  .icon-btn:hover {
    transform: scale(1.1); /* Aumenta o tamanho do ícone */
  }

  .icon-btn:active:after {
    background: transparent;
  }
  
  .icon-btn:hover:before {
    opacity: 1;
    
  }
  
  .icon-btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(226, 226, 226);
    left: 0;
    top: 0;
    border-radius: 5px;
  }

  /* Aplica o brilho ao passar o mouse */
  .icon-btn:hover:before {
    opacity: 1;
  }
  
  /* Controla a animação do glow */
  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
  
    50% {
      background-position: 400% 0;
    }
  
    100% {
      background-position: 0 0;
    }
  }




.login-wrapper {
  display: flex;
  gap: 20px;
  /* Espaço entre os contêineres */
  justify-content: center;
  /* Centralizar os contêineres horizontalmente */
}


/* Estilos adicionais para cada login-container, se necessário */


.dividir {
  display: flex;
  /* Alinha os itens no início da linha */
  padding: 10px;
  /* Adiciona um espaço interno ao redor dos itens */
}

.logoPersonalizar {
  flex-shrink: 0;
  /* Impede que a logo seja encolhida */
}

.textoInicial {
    flex: 1;
  }



.options-container {
  display: flex;
  gap: 20px; /* Espaçamento entre as divs */
  justify-content: center; /* Centraliza o contêiner */
  width: 100%;
}

.position-options {
  display: flex;
  flex-direction: column; /* Mantém os botões em coluna */
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

.shape-options {
  display: flex;
  flex-direction: row; /* Coloca os botões em linha */
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.position-btn {
  padding: 8px 12px;
  cursor: pointer;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  width: 300px; /* Faz o botão ocupar toda a largura da coluna */
}

.shape-btn{
  padding: 8px 12px;
  cursor: pointer;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.position-btn:hover {
  background-color: #555;
}

.shirt-container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  width: 100%; /* Remove o 81% ou ajuste para ocupar toda a largura */
}


.upload-label {
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  width: 10%;
  outline: none;
  border: none;
  color: #fff;
  background: #111;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  padding: 8px 12px;
  cursor: pointer;
  display: block;
}

.upload-label:before {
  content: '';
  background: linear-gradient(45deg, #2bff00, #15ff00, #54fc06, #78da64, #00ff2a, #01ff2b, #5eff00, #00ff37, #26ff93);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 8px;
}

.upload-label:active {
  color: #ffffff;
}

.upload-label:active:after {
  background: transparent;
}

.upload-label:hover:before {
  opacity: 1;
}

.upload-label:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 8px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}




#custom-image.round { border-radius: 50%; }
#custom-image.square { border-radius: 0; }
#custom-image.rounded { border-radius: 15px; }
#custom-image.triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}



.upload-container {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-top: -10px;
  justify-content: center;
}

                                /*LIMPAR IMAGEM BUTTON */

.glow-on-hover-image-clear {
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  width: 10%;
  outline: none;
  border: none;
  color: #fff;
  background: #111;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  padding: 8px 12px;
  cursor: pointer;
}

.glow-on-hover-image-clear:before {
    
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff0000, #570f0a, #ff0000, #ff4e4e, #ff4949, #ff0000, #ff0000, #ff2626);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 8px;
}

.glow-on-hover-image-clear:active {
  color: #ffffff
}

.glow-on-hover-image-clear:active:after {
  background: transparent;
}

.glow-on-hover-image-clear:hover:before {
  opacity: 1;
}

.glow-on-hover-image-clear:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #5c5c5c;
  left: 0;
  top: 0;
  border-radius: 8px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
}
}





                                                        /* POSIÇÕES BUTTONS */

.glow-on-hover {
  font-family: "Bebas Neue", sans-serif;
  font-size: 22px;
  width: 300px; /* Faz o botão ocupar toda a largura da coluna */
  height: 35px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
    
  content: '';
  background: linear-gradient(45deg, #2bff00, #15ff00, #54fc06, #78da64, #00ff2a, #01ff2b, #5eff00, #00ff37, #26ff93);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #ffffff
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
}
}


                                            
                                                                      /* SHAPE BUTTONS */

.glow-on-hover-shape {
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  width: 100%;
  outline: none;
  border: none;
  color: #fff;
  background: #111;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  padding: 8px 12px;
  cursor: pointer;
}

.glow-on-hover-shape:before {
    
  content: '';
  background: linear-gradient(45deg, #73ff00, #00ff4c, #68e7ac, #00ff22, #a7e99e, #01ff2b, #5eff00, #00ff37, #26ff93);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 8px;
}

.glow-on-hover-shape:active {
  color: #ffffff
}

.glow-on-hover-shape:active:after {
  background: transparent;
}

.glow-on-hover-shape:hover:before {
  opacity: 1;
}

.glow-on-hover-shape:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 8px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
}
}




/*BACKGORUND DEFAULT*/

.glow-on-hover-shape[data-shape="default"]:after {
  
  background-color: #585858; /* Cor de fundo personalizada para o botão default */
}
.glow-on-hover-shape[data-shape="default"]:before {
    
  background: linear-gradient(45deg, #ff0000, #ff0000, #e76868, #ff0000, #ff0000, #ff0101, #ff0000, #ff0000, #ff2626);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 8px;
}

.glow-on-hover-shape:active {
  color: #ffffff
}

.glow-on-hover-shape:active:after {
  background: transparent;
}

.glow-on-hover-shape:hover:before {
  opacity: 1;
}

.glow-on-hover-shape:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 8px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
}
}


                                                                    /* CLEAR BUTTON */
.glow-on-hover-clear {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  width: 200px; /* Faz o botão ocupar toda a largura da coluna */
  height: 35px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-top: -30px;
  margin-bottom: 20px;

}

.glow-on-hover-clear:before {
    
  content: '';
  background: linear-gradient(45deg, #003cff, #002fff, #0051ff, #0077ff, #00a2ff, #00aeff, #00ffff, #00ffff, #003cff);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover-clear:active {
  color: #ffffff
}

.glow-on-hover-clear:active:after {
  background: transparent;
}

.glow-on-hover-clear:hover:before {
  opacity: 1;
}

.glow-on-hover-clear:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
}
}


.invisible {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.zoom-box {
  position: absolute;
  width: 100px;  /* Tamanho do quadrado de zoom */
  height: 100px; /* Tamanho do quadrado de zoom */
  border: 2px solid rgba(255, 255, 255, 0.5); /* Borda para o quadrado */
  display: none;  /* Inicialmente invisível */
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.3); /* Cor de fundo do quadrado */
  background-repeat: no-repeat;
  background-size: 200% 200%; /* Tamanho da área ampliada */
}

.card:hover .zoom-box {
  display: block; /* Exibe o quadrado quando o mouse passar por cima */
}

/* Estilos do overlay (fundo escurecido) */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Estilos da caixa de modal */
.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  width: 500px;
}

.modal-content p {
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
}
/*BOTAO DOS TAMANHOS*/
.glow-on-hover-size {
  font-family: "Bebas Neue", sans-serif;
  font-size: 28px;
  width: 100px; /* Faz o botão ocupar toda a largura da coluna */
  height: 55px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover-size:before {
    
  content: '';
  background: linear-gradient(45deg, #2bff00, #15ff00, #54fc06, #78da64, #00ff2a, #01ff2b, #5eff00, #00ff37, #26ff93);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover-size:active {
  color: #ffffff
}

.glow-on-hover-size:active:after {
  background: transparent;
}

.glow-on-hover-size:hover:before {
  opacity: 1;
}

.glow-on-hover-size:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
}
}
